@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "tailwind-scrollbar-hide";
@theme {
  /* Typography */
  --font-mono: "Geist Mono", serif;
  --font-sans: "Geist", sans-serif;
  /* Accent */
  --color-accent-light: oklch(0.797 0.118 33.2);
  --color-accent: oklch(0.692 0.207 42.58);
  --color-base-light: oklch(0.922 0 0);
  --color-base-medium: oklch(0.439 0 0);
  --color-base-dark: oklch(0.145 0 0);
}
