---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<BaseLayout hideNavigation={true} hideFooter={true}>
  <section>
    <Wrapper variant="standard" class="py-24 lg:py-32 text-center">
      <Wrapper variant="prose">
        <h1>404</h1>
        <a href="/"> Go back to the fucking website </a>
      </Wrapper>
    </Wrapper>
  </section>
</BaseLayout>
