---
interface Props {
  variant?: "standard" | "prose"; // Define any variants you need
  class?: string; // Optional prop for additional classes
}
const { variant = "standard", class: extraClass = "" } = Astro.props;
// Map each variant to its specific classes
const variantClasses = {
  // All purpose wrapper
  standard: " max-w-7xl mx-auto px-8 w-full",
  // Wrapper for prose blocks
  prose:
    "prose prose-base max-w-3xl mx-auto w-full \
   prose-headings:font-medium prose-headings:text-base-dark \
   prose-p:text-base-700 prose-strong:text-base-dark \
   prose-a:text-accent prose-a:border-b prose-a:border-accent prose-a:no-underline \
   prose-a:transition-colors prose-a:duration-200 \
   prose-a:hover:text-accent-light prose-a:hover:border-accent \
   prose-blockquote:border-l-accent prose-blockquote:text-base-600 \
   prose-li:marker:text-accent \
   prose-pre:bg-base-light \
   prose-pre:rounded-xl prose-pre:scrollbar-hide \
   prose-tr:border-base-200 prose-thead:border-base-light",
};
// Combine the classes for the specified variant with any extra classes
const classes = `${variantClasses[variant]} ${extraClass}`.trim();
---

<div class={classes}>
  <slot />
</div>
